.redlove * {
  display: inline-block;
  box-sizing: content-box;
  border: solid;
  margin: 0 .25em;
}

.redlove space {
  border: 0;
  width: 1em;
}

.redlove l {
  border-radius: 50% / 999%;
  width: 1em;
  height: 1em;
  border: 0 solid transparent;
  border-left-color: inherit;
  border-width: 0 7em 10em 2em;
  margin-right: -7em;
}

.redlove o {
  border-radius: 100% / 1000%;
  border-width: 2em;
  width: 1em;
  height: 7em;
}

.redlove v {
  border-radius: 0 0 100% 0;
  border-width: 2em;
  border-top-color: transparent;
  width: 1em;
  height: 7em;
}

.redlove e {
  position: relative;
  border-radius: 9999% 0 0 2000%;
  border-width: 2em 0 2em 2em;
  border-right-color: transparent;
  border-bottom-color: transparent;
  width: 1em;
  height: 7em;
}

.redlove e:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2em;
  top: 1em;
  bottom: 1em;
  color: inherit;
  box-shadow: inset 0 0 0 9999em;
}

.redlove v + .redlove e {
  margin-left: -.5em;
}

.redlove d {
  border-radius: 0 9999% 100% 0;
  border-width: 2em;
  border-top-color: transparent;
  width: 1em;
  height: 7em;
}

.redlove r {
  border-radius: 0 9999% 100% 0;
  border-width: 2em;
  border-right-color: transparent;
  width: 0;
  height: 7em;
}

.redlove c {
  border-radius: 0 100% 0 9999%;
  border-width: 2em 0 5em 1em;
  border-right-color: transparent;
  width: 3em;
  height: 4em;
}

.redlove s {
  border-radius: 0 100% 9999% 0;
  border-width: 2em 2em 5em 0;
  border-right-color: transparent;
  width: 2em;
  height: 4em;
}

.redlove p {
  border-radius: 100% 9999% 0 0;
  border-width: 2em 2em 5em;
  border-right-color: transparent;
  border-bottom-color: transparent;
  width: 2em;
  height: 4em;
}

.redlove a {
  border-radius: 0 9999% 0 100%;
  border-width: 7em 1em 0 1em;
  border-right-color: rgba(0, 0, 0, 0);
  width: 1em;
  height: 4em;
}

.redlove n {
  border-radius: 0 8888% 4444% 0;
  border-width: 2em;
  border-right-width: 2em;
  border-top-color: transparent;
  border-bottom-color: transparent;
  width: 0em;
  height: 7em;
}

.redlove i {
  border-radius: 2222% / 100%;
  border-width: 2em 1em;
  box-shadow: inset 0 0 0 9999em;
  width: 0;
  height: 7em;
}
